html,body
{
    margin:0;
    padding:0;
    overflow-x:hidden;
}
#body
{
    overflow: hidden;
}
/* hello CSS */
#changeLang
{
    position: relative;
    top: -150px;
    z-index: 1;
    text-align: center;
    left: -500px;
    background-color: lightskyblue;
    width: 200px;
}
#hello
{
    position: relative;
    left: 550px;
    top: 200px;
    background-color: lightskyblue;
    width: 500px;
    height: 250px;
    margin: 0;
}
#insert
{
    position: absolute;
    left: -40px;
    top: 50px;
}
#name1
{
    position: absolute;
    left: -40px;
    top: 80px;
}
#name2
{
    position: absolute;
    left: 150px;
    top: 80px;
}
#helloText
{
    position: relative;
    left: 50px;
}
input:hover
{
    background-color: rgb(36, 156, 0);
    color: white;
}
input
{
    background-color: rgb(255, 175, 2);
    color: white;
}
::-webkit-input-placeholder
{
    color: white;
}
#welcome
{
    position: relative;
    left: -50px;
    top: -40px;
    font-size: 50px;
    background-color: lightskyblue;
    text-align: center;
    width: 500px;
    height: 100px;
}
#submitButton
{
    position: absolute;
    left: 360px;
    top: 75px;
}
#submitButton:hover
{
    height: 30px;
    width: 100px;
    font-size: 15px;
    left: 345px;
    padding-bottom: 27px;
}
#startButton:hover
{
    height: 30px;
    width: 100px;
    font-size: 15px;
    left: -20px;
    padding-bottom: 27px;
}
#helloOutput
{
    position: relative;
    top: -150px;
}
#startButton
{
    position: relative;
    top: -150px;
    visibility: hidden;
}
/* end of hello CSS */
#firstLevel
{
    background-color: lightskyblue;
    width: 1010px;
    height: 500px;
    position: relative;
    left: 300px;
    top: 100px;
    margin: 0;
}
/* tic tac toe game CSS */
#ticTacToeText
{
    position: relative;
    left: 50px;
    top: -20px;
}
#cong
{
    top: -50px;
    position: relative;
    left: 100px;
}
#continue
{
    top: 400px;
    position: absolute;
    left: 370px;
    visibility: hidden;
}
#continue:hover
{
    height: 40px;
    width: 200px;
    font-size: 15px;
    left: 350px;
    margin: auto;
}
#ticTacToeGame
{
    width: 300px;
    position: relative;
    top: 100px;
    left: 550px;
}
td
{
    width: 100px;
    height: 100px;
    font-size: 100px;
    text-align: center;
    line-height: 0px;
}
td:hover
{
    background-color: red;
}
#quPresent
{
    font-size: 30px;
    position: relative;
    top: -205px;
    left: 5px;
}
#titleQu
{
    font-size: 30px;
    position: relative;
    top: -190px;
    left: 5px;
}
.gameOver
{
    text-align: center;
    position: relative;
    top: 240px;
    left: -50px;
}
#table
{
    position: relative;
    top: 100px;
    left: 600px;
}
#instructions
{
    position: relative;
    top: -150px;
    left: 100px;
    width: 419px;
    height: 150px;
}
/* end of tic tac toe CSS */
/* researching CSS */
#video
{
    position: absolute;
    top: 20px;
    text-align: center;
    left: 450px;
    width: 680px;
    background-color: white;
}
#article
{
    position: absolute;
    text-align: center;
    top: 50px;
    width: 680px;
    left: 450px;
    background-color: white;
}
#questions
{
    position: absolute;
    top: 100px;
    text-align: center;
    margin: auto;
    visibility: 'hidden';
    background-color: rgb(56, 147, 175);
    width: 500px;
    height: 100px;
    left: 550px;
}
#quFormBut
{
    width: 100px;
    height: 40px;
}
#quFormBut:hover
{
    position: relative;
    height: 50px;
    width: 120px;
    font-size: 15px;
    left: 0px;
    top: -5px;
}
#finish
{
    background-color: lightskyblue;
    width: 1200px;
    position: relative;
    left: 200px;
    top: 200px;
    text-align: center;
    font-size: 50px;
}